/.DS_Store
/.vscode
/.ant_targets
/.idea
/.phpunit.result.cache
/build/documentation
/build/logfiles
/build/phar
/build/phpdox
/build/*.phar
/build/*.phar.asc
/cache.properties
/vendor
/.scannerwork
tests-clover.xml
tests-junit.xml